{
    "address": ":8000",
    "matrixServer": "localhost:8000",
    "matrixSharedSecret": "",

    "registrationServer": "localhost:8000",
    "registrationTimeout": 86400,
    "registrationSecret": "",
    "redisServer": "",
    "redisPassword": "",
    "redisDb": 0,
    "mock": false
}
